special-rules-container {
  background-image: url('../../images/board/Innate__Special_Rules_Without_Text.png');
  background-repeat: repeat-y;
  background-position: top;
  position: absolute;
  left: 18px;
  min-height: 250px; 
  padding-bottom: 15px;
  padding-top: 48px;
  width: 665px;
  display: flex;
  flex-direction: column;
  font-family: 'JosefinSans-Regular';
  padding-left:15px;
  padding-right:15px;
  z-index: -1;
  opacity: 0.8;
}

special-rules-subtitle {
  padding-top: 15px;
  padding-bottom: 3px;
  font-family: 'JosefinSans-Bold';
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0.5px;
}

special-rule {
  font-family: 'JosefinSans-Regular';
  font-size: 17pt;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0px;
  line-height: 29px;
}

special-rule icon.fire, special-rule icon.earth, special-rule icon.plant,
special-rule icon.animal, special-rule icon.air, special-rule icon.water,
special-rule icon.any, special-rule icon.moon, special-rule icon.sun,
special-rule icon.element, special-rule icon.energy-gain-1 {
    width: 45px;
    height: 30px;
    margin-bottom: -8px;
    margin-left: -5px;
    margin-right: -5px;
}

special-rule icon.explorer {
    margin-left: 1px;
    margin-right: -5px;
}

special-rule icon.range-plus-1,
special-rule icon.range-1 {
    width: 50px;
    height: 30px;
    display: inline-block;
}