special-rules-container {
    position: absolute;
    left: 18px;
    min-height: 250px;
    padding-bottom: 15px;
    padding-top: 48px;
    width: 665px;
    display: flex;
    flex-direction: column;
    font-family: 'JosefinSans-Regular';
    padding-left: 15px;
    padding-right: 15px;
}

special-rules-container::before {
    content: '';
    background-image: url('../../images/board/Innate__Special_Rules_Without_Text.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

special-rules-subtitle {
  padding-top: 15px;
  padding-bottom: 3px;
  font-family: 'JosefinSans-Bold';
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0.5px;
}

special-rule {
  font-family: 'JosefinSans-Regular';
  font-size: 17pt;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0px;
  line-height: 29px;
}

special-rule icon.fire, special-rule icon.earth, special-rule icon.plant,
special-rule icon.animal, special-rule icon.air, special-rule icon.water,
special-rule icon.any, special-rule icon.moon, special-rule icon.sun {
    width: 45px;
    height: 30px;
    margin-bottom: -8px;
    margin-left: -5px;
    margin-right: -5px;
}

special-rule icon.element {
    width: 50px;
    height: 50px;
    margin-bottom: -15px;
    margin-left: 0px;
    margin-right: 0px;
}

special-rule icon.explorer {
    width: 30px;
    height: 40px;
    margin-left: 1px;
    margin-right: -5px;
}

special-rule icon.range-1, special-rule icon.range-plus-1,
special-rule icon.range-2, special-rule icon.range-plus-2,
special-rule icon.range-3, special-rule icon.range-plus-3,
special-rule icon.range-4, special-rule icon.range-plus-4 {
    width: 65px;
    height: 30px;
    display: inline-block;
    margin-bottom: -8px;
}

special-rule icon.energy-gain-1 {
    width: 50px;
    height: 50px;
    margin-bottom: -18px;
    margin-left: 2px;
    margin-right: 2px;
}