/*
* DOWNPOUR DRENCHES THE WORLD
*/
.downpour lore-description {
    left: 900px;
    top: 140px;
    width: 770px;
}

.downpour special-rules-container {
    width: 640px;
}

.downpour right {
  left: 635px;
  width: 1115px;
}

.downpour presence-tracks table tr::before {
    margin-left: 10px;
}

.downpour presence-tracks table tr:last-child {
    background-position-x: -273px;
}

.downpour growth-table {
  width: 1100px;
}

/*
* FRACTURED DAYS SPLIT THE SKY
*/
.fractured lore-description {
    top: 125px;
}

.fractured growth {
    background-size: cover;
}

.fractured growth-table {
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fractured growth-table growth-cell {
    flex-basis: 13.5%;
    padding-top: 0px;
}

.fractured growth-table growth-cell:nth-child(8) {
    flex-basis: 16.4%;
}

.fractured growth-table growth-border:nth-child(9) {
    display: none;
}

.fractured growth-table growth-cell:nth-child(12) growth-text {
    width: 130%;
}

.fractured presence-tracks {
    padding-bottom: 0px;
}

.fractured presence-tracks section-title {
    margin-bottom: 0px;
}

.fractured presence-tracks table {
    height: auto;
}

.fractured presence-tracks table tr {
    background-size: 160% 100%;
}

.fractured innate-power-container level {
    padding-bottom: 10px;
}

/*
* GRINNING TRICKSTER STIRS UP TROUBLE
*/
.grinning lore-description {
    width: 810px;
}

.grinning play-style-description {
    letter-spacing: -1.1px;
}

.grinning #presence-table tbody tr:nth-child(2) td:nth-child(2) subtext {
    width: 140%;
    display: inline-block;
    margin-left: -18px;
}

/*
* LURE OF THE DEEP WILDERNESS
*/
.lure lore-description {
    width: 810px;
}

.lure lore-description {
    line-height: 27px;
}

.lure presence-tracks {
    padding-bottom: 10px;
}

.lure presence-node {
    max-width: 140px;
}

.lure sub-section-title+growth-table{
    margin-top: 15px ;
}

/*
* MANY MINDS MOVE AS ONE
*/
.minds presence-tracks {
    padding-bottom: 15px;
}

.minds #presence-table tbody tr:nth-child(2) td:nth-child(3) subtext {
    width: 140%;
    display: inline-block;
    margin-left: -30px;
}

.minds presence-tracks table tr:first-child {
    background-position-y: 0px;
}

.minds presence-tracks table tr {
    background-position-x: -7px;
}

.minds note {
    letter-spacing: -0.5px;
}

/*
* SHROUD OF SILENT MIST
*/
.shroud lore-description {
    left: 900px;
    top: 130px;
    width: 770px;
}

.shroud special-rules-container {
    width: 645px;
}

.shroud right {
  left: 640px;
  width: 1110px;
}

.shroud presence-tracks table tr::before {
    margin-left: 10px;
}

.shroud presence-tracks table tr:first-child {
    background-position-x: -410px;
}

/*
* STARLIGHT SEEKS ITS FORM
*/
.starlight lore-description {
    left: 900px;
    top: 120px;
    width: 770px;
}

.starlight right {
    left: 600px;
    width: 660px;
}

.starlight growth {
    padding-bottom: 30px;
}

.starlight growth-table {
    margin-left: 0px;
    width: 661px;

    background-image: url('../../spirits/Starlight Seeks Its Form/spirit_border2.png');
    background-size: 120% 100%;
    background-position-y: -10px;
    background-repeat: no-repeat;

    /*
    2st & 3rd growth rows
    */
    /*background-position-x: -645px;*/

    /*
    4th & 5th growth rows
    */
    background-position-x: -520px;
}

/*
2st & 3rd growth rows
*/
/*
.starlight growth growth-cell:first-child {
    background-color: transparent;
}
.starlight growth growth-border:nth-child(2) {
    display: none;
}
*/

/*
4th & 5th growth rows
*/
.starlight growth growth-cell:first-child {
    margin-left: 8px;
    background-color: transparent;
}
.starlight growth growth-cell:nth-child(2) {
    background-color: transparent;
    margin-left: 8px;
    margin-right: 8px;
}
.starlight growth growth-border:nth-child(3) {
    display: none;
}

/*
* STONE'S UNYIELDING DEFIANCE
*/
.stone growth {
    padding-bottom: 0px;
}

.stone growth growth-cell:nth-child(3) growth-text {
    width: 110%;
}

.stone growth growth-cell:nth-child(3) icon.range-3 {
    margin-top: 20px;
}

.stone presence-tracks {
    padding-bottom: 45px;
}

.stone presence-tracks::before {
    background-size: cover;
}

.stone presence-tracks section-title {
    margin-bottom: 6px;
}

.stone presence-tracks table tr {
    background-size: 160% 100%;
}

.stone presence-tracks table tr:last-child {
    background-position-x: -730px;
}

.stone innate-power-title {
    letter-spacing: -0.5px;
}

/*
* VENGEANCE AS A BURNING PLAGUE
*/
.vengeance lore-description {
    left: 900px;
    top: 130px;
    width: 770px;
}

.vengeance growth growth-cell:nth-child(5) {
    margin-right: 20px;
}

/*
* VOLCANO LOOMING HIGH
*/
.volcano lore-description {
    left: 900px;
    top: 130px;
    width: 770px;
}

.volcano play-style-description {
    letter-spacing: -1px;
}

.volcano special-rules-container {
    width: 645px;
}

.volcano right {
    left: 640px;
    width: 1110px;
}

.volcano growth-table {
    margin-top: 0px;
    margin-bottom: 5px;
}

.volcano presence-tracks {
    padding-bottom: 5px;
}

.volcano presence-tracks section-title {
    margin-bottom: 6px;
}

.volcano presence-tracks table tr::before {
    margin-left: 10px;
}

.volcano presence-tracks table tr {
    background-position-y: -10px;
}

.volcano presence-tracks table tr:first-child {
    background-position-x: -275px;
}

.volcano presence-tracks table tr:last-child {
    background-position-x: -2px;
}

.volcano innate-power-container innate-power:first-child level {
    padding-bottom: 15px;
}

.volcano innate-power-container innate-power:first-child level:last-child {
    width: 200%;
}

.volcano innate-power-container innate-power:first-child level:last-child threshold {
    width: 310px;
}

.volcano innate-power-container innate-power:first-child level:last-child #single-line {
    padding-top: 0px;
    margin-top: -5px;
}