@font-face{
  font-family: 'Lato SemiBold';
  src: url(../fonts/lato/Lato-Semibold.ttf);
}
@font-face{
  font-family: 'Lato SemiBold';
  src: url(../fonts/lato/Lato-SemiboldItalic.ttf);
  font-style: italic;
}
@font-face{
  font-family: 'DK Snemand';
  src: url(../fonts/dk_snemand/DK_Snemand.otf) format("opentype");
}
@font-face{
  font-family: 'Gobold Extra2';
  src: url(../fonts/gobold/Gobold_Extra2.otf) format("opentype");
}
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: 'JosefinSans-Bold';
    src: url(../fonts/josefin-sans/JosefinSans-Bold.ttf);
}

icon{
  display:inline-block;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}

icon.no {
  position: relative;
  display: inline-flex;
  align-items: center;
}

icon.no::before {
  content: '';
  background-image: url('../images/board/no.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
}

icon.spirit{background-image: url('../images/spiriticon.png'); }

icon.badlands{background-image: url('../images/board/badlands.png'); }
icon.beast{background-image: url('../images/board/beast.png'); }
icon.disease{background-image: url('../images/board/disease.png'); }
icon.strife{background-image: url('../images/board/strife.png'); }
icon.wilds{background-image: url('../images/board/wilds.png'); }

icon.fast{background-image: url('../images/fasticon.png');}
icon.slow{background-image: url('../images/slowicon.png');}
icon.blight{background-image: url('../images/board/blight.png');}
icon.dahan{background-image: url('../images/board/dahan.png');}
icon.fear{background-image: url('../images/board/fear.png');}
icon.escalation {background-image: url('../images/10px-Stage_II_Escalation.png'); margin-bottom:0px;}

icon.explorer{background-image: url('../images/board/explorer.png'); margin-left:-4px; margin-right:-7px;}
icon.town{background-image: url('../images/board/town.png');}
icon.city{background-image: url('../images/board/city.png');}

icon.presence-white {background-image: url('../images/25px-Presenceicon-inverse.png'); margin-left:3px; margin-right:3px;}
icon.presence { background-image: url('../images/board/presence.png'); }
icon.destroyed-presence {background-image: url('../images/board/NewIcons/Destroyedpresence.png');}
icon.sacred-site {background-image: url('../images/board/sacred_site.png'); }

icon.earth { background-image: url('../images/board/Earth.png'); }
icon.sun { background-image: url('../images/board/Sun.png'); }
icon.plant { background-image: url('../images/board/Plant.png'); }
icon.water { background-image: url('../images/board/Water.png'); }
icon.moon { background-image: url('../images/board/Moon.png'); }
icon.fire { background-image: url('../images/board/Fire.png'); }
icon.air { background-image: url('../images/board/Air.png'); }
icon.animal { background-image: url('../images/board/Animal.png'); }
icon.any { background-image: url('../images/board/Any.png'); }

icon.jungle { background-image: url('../images/board/jungle.png'); }
icon.mountain { background-image: url('../images/board/mountain.png'); }
icon.sand { background-image: url('../images/board/sand.png'); }
icon.wetland { background-image: url('../images/board/wetland.png'); }
icon.ocean { background-image: url('../images/board/ocean.png'); }

icon.jungle-presence { background-image: url('../images/board/jungle-presence.png'); }
icon.mountain-presence { background-image: url('../images/board/mountain-presence.png'); }
icon.sand-presence { background-image: url('../images/board/sands-presence.png'); }
icon.wetland-presence { background-image: url('../images/board/wetland-presence.png'); }

icon.jungle-sand { background-image: url('../images/board/junglesand.png'); }
icon.jungle-wetland { background-image: url('../images/board/junglewetland.png'); }
icon.mountain-jungle { background-image: url('../images/board/mountainjungle.png'); }
icon.mountain-sand { background-image: url('../images/board/mountainsand.png'); }
icon.mountain-wetland { background-image: url('../images/board/mountainwetland.png'); }
icon.sand-wetland { background-image: url('../images/board/sandwetland.png'); }

icon.terror-1{background-image: url('../images/terror-1.png'); padding: 5px; margin-bottom: -8px; }
icon.terror-2{background-image: url('../images/terror-2.png'); padding: 5px; margin-bottom: -8px; }
icon.terror-3{background-image: url('../images/terror-3.png'); padding: 5px; margin-bottom: -8px; }

icon.range-0 { background-image: url('../images/board/presence_range_0.png'); }
icon.range-1 { background-image: url('../images/board/presence_range_1.png'); }
icon.range-2 { background-image: url('../images/board/presence_range_2.png'); }
icon.range-3 { background-image: url('../images/board/presence_range_3.png'); }
icon.range-4 { background-image: url('../images/board/presence_range_4.png'); }
icon.range-plus-1 { background-image: url('../images/board/range_plus_1.png'); }
icon.range-plus-2 { background-image: url('../images/board/range_plus_2.png'); }
icon.range-plus-3 { background-image: url('../images/board/range_plus_3.png'); }
icon.range-plus-4 { background-image: url('../images/board/range_plus_4.png'); }